<h3 class="mb-3">Lista de propiedades</h3>
<div class="row container">
  <div class="col-2"></div>
  <div class="col">
    <div class="row">
      <div class="col-4 mb-2" *ngFor="let property of properties">
        <div class="card">
          <app-min-map
            [lngLat]="property.lngLat"
            class="card-img-top"
          ></app-min-map>
          <div class="card-body">
            <h5 class="card-title">{{ property.title }}</h5>
            <p class="card-text">{{ property.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
